body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #077BED;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

    margin: 0;
    margin-bottom: 8px;

    color: white
}